@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html, body {
    padding: 0;
    margin: 0;
    font-size: 100%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior:smooth;
    background-image: linear-gradient(to right,
    rgb(217, 217, 222),
    rgb(204, 204, 204),
    rgb(217, 217, 222));
    
    scroll-behavior: smooth;
}