@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html, body {
    padding: 0;
    margin: 0;
    font-size: 100%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #3A3632;
}

.logo {
    margin-left: 20vh;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    list-style: none;
}

nav a {
    color: #85e4fc;
    text-decoration: none;
    font-size: 130%;
}

nav a:hover, .material-symbols-outlined:hover{
    color: aqua;
    transition: 0.5s;
    
}

nav li {
    margin-right: 10vh;
}


.social{
    display: flex;
    width: 7%;
    margin-right: 5vh;
    justify-content: space-around;
}

.img-logo {
    width: 4vh;
    height: 4vh;
}


.material-symbols-outlined {
  color:whitesmoke;
}
